.grid {
  max-width: $grid-width;
  margin: 0 auto;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

  &__col {
    &--1 {
      grid-column: 1fr;
      justify-content: center;
    }

    &--3-1 {
      grid-column: span 2;
    }

    &--3-2 {
      grid-column: span 4;
    }

    &--4-1 {
      grid-column: span 2;
    }
  }
}
